<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eat-Da-Burger!</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&family=Sarpanch:wght@500&family=Shrikhand&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron text-center">
            <img src="https://cdn.dribbble.com/users/2100764/screenshots/5560096/hamburger.gif" width="15%" height="15%">
            <h1>Eat-Da-Burger!</h1>
        </div>

        <div class="container text-center">
            {{{body}}}
        </div>
        
    </body>
</html>