<div class="row">

    <div class="col-md-4 col-md-offset-1" id="notDev">
        <div class="panel-panel default">
            <h2>Burgers that are not devoured</h2>
                <ul class="list-group">
                {{#each burgers}}
                    {{#unless this.devoured}}
                    <li>
                        <div>
                            <p>{{burger_name}}</p>
                            <span class="input-group-btn">
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    {{this.burger_name}}
                                    <input type="hidden" name="devoured" value="true">
                                    <button class="btn btn-outline-secondary" type="submit" id="eatBtn">Devour It!</button>
                                </form>
                            </span>
                        </div>
                    </li>
                    {{/unless}}
                {{/each}}
                </ul>
        </div>
    </div>    

    <div class="col-md-4 col-md-offset-2" id="devBurg">  
        <h2>Devoured Burgers</h2>
            <div class="panel panel-default">
                <ul class="list-group">
                    {{#each burgers}}
                        {{#if this.devoured}}
                        <li class="list-group-item">
                            <p>{{this.burger_name}}</p>
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
    </div>

    <div class="container text-center">
        <h2>Add a Burger</h2>
        <form class="add-burger-form" action="/" method="POST">

            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="newBurger" name="name" placeholder="Burger Name">
            </div>

        <button class="btn btn-default btn-lg" type="submit">Add Burger</button>
        </form>
    </div>
    
</div>    
    